/*.fun{
    
    width: 40px;
    height: 40px;
    background-color: white;
    
}
.marg {
    
    display: inline-block;
}*/
td {
    
    font-size: 0.8em;
    border: 1px solid #DBDBDB;
    font-weight: bold;
} 

.sty{
    
    font-size: 1.2em;
    
}

.sty1{
    
    padding-left: 70px;
    
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax{
        background-attachment: scroll;
    }
}


body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('background/parallax1.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*div.paneleffect:hover {
    box-shadow: 0 0 10px white;
}*/



.advs {
    
    color: white;
    font-family: Arial Black;
  
}

div.advs:hover {
    
    cursor: pointer;
    color: #3965e4;
}

.advanceopt {
    font-weight: bold;
    color: white;
    
    font-size: 1.1em;
    
    
}



 .adddhide {
    display : none;
    
}
 
option {
   
    font-weight: bold;
    font-family: Ledger;
    
}

#sel1 {
    
    font-weight: bold;
    font-family: Ledger;
    
    
}
/*.innerbox {
 display: none;   

    
}*/

/*div.backbtn:hover {
    
    cursor: pointer;
    
    
}*/



.search2hide {
    
    display: none;
}

@media only screen and (max-device-width: 476px)
{
    
    .srchbtn {
        
        
        width:100%;
        
    }
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: white;
    content: ' *';
    display:inline;
}

.tablehide{
    
    display: none;
}

.subjecthide {
    
    display: none;
}

.coursehide {
    
    display: none;
}